<!-- Getform form https://getform.io -->

<!-- Add the getform-endpoint in config.yml -->
<form action="https://getform.io/f/{{site.getform_endpoint}}" enctype="multipart/form-data" method="POST"  target="_blank">
    <div class="form-group">
            <label for="contact_form_name">İsim :</label>
            <input type="text" class="form-control" name="name" id="contact_form_name" placeholder="İsminizi Giriniz">
           </div>
           <div class="form-group">
             <label for="contact_form_email">Email :</label>
            <input type="email" class="form-control" name="email" id="contact_form_email" placeholder="Email adresinizi giriniz">
           </div>
           <div class="form-group">
             <label for="contact_form_message">Mesaj :</label>
            <textarea name="message" class="form-control" id="contact_form_message" placeholder="Mesajınızı giriniz"></textarea>
           </div>
           <div class="form-group">
               <label for="contact-form-file"> Ekler :</label>
            <input type="file" name="file" class="form-control" id="contact-form-file" placeholder="Ek dosyalar"/>
           </div>
            <button type="submit" value="Send" class="btn btn-lg btn-dark">Gönder</button>
</form>